# ~~~ VSCode ~~~
.vscode/*
!.vscode/mplab.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
.vscode/ipch/
.vscode/.browse.vc.db

# ~~~ MPLab Project & Build Files ~~~
**/nbproject/private/
**/nbproject/Makefile-*
**/nbproject/Package-*
**/build/
**/out/
**/dist/
**/.generated_files/
Makefile
Package-*

# ~~~ Compiled Object Outputs ~~~
*.o
*.d
*.elf
*.hex
*.cof

# ~~~ CMake & Ninja ~~~
cmake/
cmake/**/CMake*
!cmake/**/user.cmake
cmake/**/.generated/*
*.cmake
*.ninja

# ~~~ MISC Files ~~~
*.yaml

# ~~~ OS Specific ~~
.DS_Store
Thumbs.db
.generated_files/
build/
dist/
nbproject/
Makefile*
private/
_build/
out/