build/
_build/
dist/
nbproject/private/
nbproject/Makefile-*
nbproject/Package-*

.vscode/*
!.vscode/mplab.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

.vscode/ipch/
.vscode/.browse.vc.db
*.o
*.d
*.elf
*.hex
.generated_files/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
cmake/
out/
*.ninja
*.yaml
*.json
*.json
*.cmake
*.json
*.ninja
*.json
*.json
*.cmake
*.cmake
/_build
/_build
*.ninja
*.cmake
/_build/LV_BMS_V1.0
/_build/LV_BMS_V1.0/default
*.cmake
/cmake/LV_BMS_V1.0/default/.generated
/cmake/LV_BMS_V1.0/default
/cmake/LV_BMS_V1.0
